<a href="{{store.metadata.url}}" title="{{store.name}}"> <img src="{{store.metadata.logo}}" alt="{{store.name}}" style="width:70px;"></a><br><br>
<div><strong>Hi {{#if customer.has_account}}{{customer.first_name}} {{customer.last_name}}{{else}}{{shipping_address.first_name}} {{shipping_address.last_name}}{{/if}},</strong></div><br>
<div>Thank you for your <strong>Order #{{order_id}}</strong> placed on {{order_date}}. Just letting you know it has now been <strong>{{#if isShipped}}shipped{{/if}}{{#if isPartiallyShipped}}partially shipped{{/if}}</strong> via {{store.metadata.shipper_name}} on <strong>{{shipped_date}}</strong>.</div><br>
{{#if isShipped}}<div>Your order is now <strong>FULLY SHIPPED</strong>.</div><br>{{/if}}
{{#if isPartiallyShipped}}<div><strong>Important:</strong> Your order is <strong>ONLY PARTIALLY SHIPPED</strong>, remaining pieces will be shipped soon.</div><br>{{/if}}
<div><strong>Tracking Numbers:</strong> </div>{{#each tracking_numbers}}<a href="{{../store.metadata.shipper_link}}/{{this}}">{{this}}</a><br>{{/each}}<br>
<div><strong>Order #{{order_id}} Details:</strong></div>
<div style="margin-bottom:20px">
    <table cellspacing="0" cellpadding="6" border="1" style="color:#333333;border:1px solid #e5e5e5;vertical-align:middle;width:100%;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
        <thead>
            <tr>
                <th scope="col" style="color:#333333;border:1px solid #e5e5e5;vertical-align:middle;text-align:left">Product</th>
                <th scope="col" style="color:#333333;border:1px solid #e5e5e5;vertical-align:middle;text-align:left">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td style="color:#333333;border:1px solid #e5e5e5;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;word-wrap:break-word">
                    {{this.title}}
                </td>
                <td style="color:#333333;border:1px solid #e5e5e5;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
                    {{this.quantity}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div><strong>Delivery Address:</strong></div>
<div>{{shipping_address.first_name}} {{shipping_address.last_name}}</div>
{{#if shipping_address.company}}<div>{{shipping_address.company}}</div>{{/if}}
<div>{{shipping_address.address_1}}</div>
{{#if shipping_address.address_2}}<div>{{shipping_address.address_2}}</div>{{/if}}
<div>{{shipping_address.city}}, {{shipping_address.province}}</div>
<div>{{shipping_address.postal_code}}</div>
<br>
<div>Thank you for your business and we look forward to serving you in the future! {{#if customer.has_account}}You can access <strong><a href="{{store.metadata.url}}/account">your account area</a></strong> to view orders, change your password and more.{{else}}Visit <strong><a href="{{store.metadata.url}}/account">our account area</a></strong> and sign up for deals, view orders, manage addresses and more.{{/if}}</div><br>