<a href="{{store.metadata.url}}" title="{{store.name}}"> <img src="{{store.metadata.logo}}" alt="Start shopping at {{store.name}}" style="width:70px;"></a><br><br>

<div style="font-family: inherit; text-align: inherit"><strong>Hi {{first_name}} {{last_name}},</strong></div><br>
<div style="font-family: inherit; text-align: inherit">Thanks for creating an account at {{store.name}}.</div><br>
<div style="font-family: inherit; text-align: inherit">You can access <strong><a href="{{store.metadata.url}}/account">your account area</a></strong> to view orders, change your password and more. Or you can <strong><a href="{{store.metadata.url}}/store">start shopping now</a></strong>.</div><br>
<div style="font-family: inherit; text-align: inherit">We look forward to seeing you soon!</div>